#map {
	height: 100%
}

/*font styles*/

body {
	background: #fff;
	color: #222;
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
	position: relative;
	cursor: auto;
}

p,
pa,
hr {
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
	font-size: 1rem;
	line-height: 1.2rem;
	margin-bottom: 1.5rem;
	text-align: left;
	text-rendering: optimizeLegibility;
}

a {
	font-family: 'Oswald', sans-serif;
	color: #8ad3f4;
}

strong {
	font-style: normal;
	color: #fdb930;
}

li,
ul {
	text-align: left;
}

h1,
h2,
h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #fdb930;
	text-rendering: optimizeLegibility;
	margin-top: 0.2rem;
	margin-bottom: 0.5rem;
	line-height: 1.4;
	text-shadow: 4px 4px 4px #000;
}

h1 {
	font-size: 2.125rem;
}

h2 {
	font-size: 1.6875rem;
}

h3 {
	font-size: 1.375rem;
}

table,
tr,
th {
	vertical-align: top;
	break-word: word-wrap;
}

/* Pop-Up */

.custom-popup .leaflet-popup-content-wrapper {
	background: rgba(35, 31, 32, 0.9);
	color: white;
	font-size: 0.9em;
	line-height: 1.2em;
}

.leaflet-container a {
	color: #8ad3f4;
}

.custom-popup .leaflet-popup-tip-container {
	margin: 0 auto;
	width: 40px;
	height: 20px;
	position: relative;
	overflow: hidden;
}

.custom-popup .leaflet-popup-tip {
	width: 15px;
	height: 15px;
	padding: 1px;
	margin: -8px auto 0;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background: rgba(35, 31, 32, 0.7);
}

/*leaflet sidebar styles*/

.leaflet-sidebar > .leaflet-control h1,
h2,
h3 {
	color: #fdb930;
}

.leaflet-sidebar > .leaflet-control strong {
	color: #fdb930;
}

.leaflet-sidebar > .leaflet-control em {
	color: #fdb930;
}

.leaflet-sidebar > .leaflet-control a {
	color: #8ad3f4;
}

.leaflet-sidebar > .leaflet-control hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid rgba(138, 211, 244, 0.5);
	margin: 1em 0;
	padding: 0;
}

#marker-list {
	background: #fdb930;
	font-size: 0.9rem;
	overflow-x: auto;
	margin: 0;
	padding: 10px;
	border-radius: 3px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.4);
}

#marker-list li {
	padding: 5px;
	margin: 0;
	list-style-type: none;
}

#marker-list li:hover {
	background: #ffd580;
}

input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  border: 1px solid #ffffff;
  content: "\00a0";
  display: inline-block;
  height: 1.375rem;
  width: 1.375rem;
  margin: 0.2em 0.25em 0 0;
  padding:0;
  vertical-align: top;
}
input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: #666;
  content: "\2713";
  line-height: 0.75em;
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  color: #8ad3f4
}

#inputs,
#errors,
#directions {
    position: relative;
		/*
    width: 33.3333%;
    max-width: 300px;
    min-width: 200px;
    */
}

#inputs {
    z-index: 10;
    top: 10px;
    left: 10px;
}

#directions {
    z-index: 99;
    /*background: rgba(0,0,0,.8);*/
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#errors {
    z-index: 8;
    opacity: 0;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,.25);
    top: 90px;
    left: 10px;
}
