html,
body,
#root,
#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: 56px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
}

#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.leaflet-control-layers {
  overflow: auto;
}

.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0;
}

.leaflet-control-layers-list input[type="radio"],
.leaflet-control-layers-list input[type="checkbox"] {
  margin: 2px;
}

.table {
  margin-bottom: 0;
}

.url-break {
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Print Handling */

@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}

.leaflet-control-zoomhome-out .leaflet-control-zoomhome-in {
  font-size: 16px !important;
  font-weight: 700;
}

.leaflet-control-zoomhome a .svg-inline--fa {
  vertical-align: middle;
}

.leaflet-control-locate .fishfry-locate-icon,
.leaflet-control-locate .fishfry-locate-icon-loading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.basemap img {
  border-radius: 6px !important;
  width: 44px !important;
  padding: 0;
}

.basemaps.leaflet-control {
  padding: 0;
}

.modal-backdrop {
  z-index: 1040;
}

.modal {
  z-index: 1050;
}
