#root {
  height: 100%;
}

.fishfry-search {
  position: relative;
}

.fishfry-search__menu {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1100;
}

#featureModal .modal-dialog {
  width: 90%;
  max-width: 1100px;
}

.fishfry-error {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 20010;
}

.modal-backdrop {
  z-index: 1040;
}

.modal {
  z-index: 1050;
}
