.app-container {
  margin-top: 10px;
  padding-bottom: 10px;
}

.fishfry-error {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 20010;
}

.fishfry-error--offset-64 {
  bottom: 64px;
}

.fishfry-error--offset-116 {
  bottom: 116px;
}
